<div class="task">
  <h3><%= @task.title %></h3>
  <p><%= @task.description %></p>
      <% if @task.done %>
        <button>Undo</button>
      <% else %>
        <button>Complete</button>
      <% end %>
</div>
